# this will test the downloader script for MagPI which is called by:
# The MagPi
#   The MagPi regular issues (Mac/Linux)
#   The Magpi books / special issues (Mac/Linux/Win)
# Hello World
#   Hello World regular issues  (Mac/Linux)
#   Hello World books (Mac/Linux/Win)
# HackSpace Magazine
#   Hackspace Magazine regular issues
#   Hackspace Magazine books (Mac/Linux/Win)
# Wireframe
#   Wireframe regular issues (Mac/Linux)
#   Wireframe books (Mac/Linux/Win)


name: Testing MagPi Regular

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  books-powershell:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: curl remote file output
        id: read_recent
        run: |
          echo "ISSUE_NUMBER=$(curl https://raw.githubusercontent.com/joergi/MagPiDownloader/main/sources-for-download/regular-issues.txt)" >> $GITHUB_ENV
        shell: bash

      - run: |
          echo "ISSUE_MINUS_ONE=$((${{ env.ISSUE_NUMBER }}-1))" >> $GITHUB_ENV
        shell: bash

      - name: print out vars
        id: printOutVars
        shell: bash
        run: env

      - name: make folder for regular
        run: mkdir regular
        shell: bash

      - name: Download regular windows with first and last
        id: regularIssuesFirstLast
        run: ./windows/downloader.ps1 https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} -f 50 -l 52

      - name: Download regular windows with end limit
        id: regularIssuesLast
        run: ./windows/downloader.ps1 https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} -l 2

      - name: Download regular windows with start
        id: regularIssuesFirst
        run: ./windows/downloader.ps1 https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} -f ${{ env.ISSUE_MINUS_ONE }}

      - name: lslah
        run: ls -lah regular/
        shell: bash

      - name: "Check file existence windows regular"
        id: check_files
        uses: andstor/file-existence-action@v2.0.0
        with:
          files: "regular/MagPi_1.pdf, regular/MagPi_2.pdf, regular/MagPi_50.pdf, regular/MagPi_51.pdf, regular/MagPi_52.pdf, regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf, regular/MagPi_${{ env.ISSUE_NUMBER }}.pdf"
          fail: true

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1

  regular-bash-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: curl remote file output
        id: read_recent
        run: |
          echo "ISSUE_NUMBER=$(curl https://raw.githubusercontent.com/joergi/MagPiDownloader/main/sources-for-download/regular-issues.txt)" >> $GITHUB_ENV

      - run: |
          echo "ISSUE_MINUS_ONE=$((${{ env.ISSUE_NUMBER }}-1))" >> $GITHUB_ENV
        shell: bash

      - name: print out vars
        id: printOutVars
        shell: bash
        run: env

      - name: make folder for regular
        run: mkdir regular

      - name: Download regular linux with first and last
        id: regularIssuesFirstLast
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f 50 -l 52

      - name: Download regular linux with end limit
        id: regularIssuesLast
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -l 2

      - name: Download regular linux with start
        id: regularIssuesFirst
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f ${{ env.ISSUE_MINUS_ONE }}

      - name: lslah
        run: ls -lah regular/

      - name: "Check file existence Linux special issues"
        id: check_files
        uses: andstor/file-existence-action@v2.0.0
        with:
          files: "regular/MagPi_1.pdf, regular/MagPi_2.pdf, regular/MagPi_50.pdf, regular/MagPi_51.pdf, regular/MagPi_52.pdf, regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf, regular/MagPi_${{ env.ISSUE_NUMBER }}.pdf"
          fail: true

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1

  regular-bash-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3.5.3

      - name: curl remote file output
        id: read_recent
        run: |
          echo "ISSUE_NUMBER=$(curl https://raw.githubusercontent.com/joergi/MagPiDownloader/main/sources-for-download/regular-issues.txt)" >> $GITHUB_ENV

      - run: |
          echo "ISSUE_MINUS_ONE=$((${{ env.ISSUE_NUMBER }}-1))" >> $GITHUB_ENV
        shell: bash

      - name: print out vars
        id: printOutVars
        shell: bash
        run: env

      - name: make folder for regular
        run: mkdir regular

      - name: Download regular macos with first and last
        id: regularIssuesFirstLast
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f 50 -l 52

      - name: Download regular macos with end limit
        id: regularIssuesLast
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -l 2

      - name: Download regular macos with start
        id: regularIssuesFirst
        run: bash ./linux_mac//downloader.sh https://magpi.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f ${{ env.ISSUE_MINUS_ONE }}

      - name: lslah
        run: ls -lah regular/

      - name: "Check file existence macos regular"
        id: check_files
        uses: andstor/file-existence-action@v2.0.0
        with:
          files: "regular/MagPi_1.pdf, regular/MagPi_2.pdf, regular/MagPi_50.pdf, regular/MagPi_51.pdf, regular/MagPi_52.pdf, regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf, regular/MagPi_${{ env.ISSUE_NUMBER }}.pdf"
          fail: true

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1
