# this will test the downloader script for MagPI which is called by:
# The MagPi
#   The MagPi regular issues (Mac/Linux)
#   The Magpi books / special issues (Mac/Linux/Win)
# Hello World
#   Hello World regular issues  (Mac/Linux)
#   Hello World books (Mac/Linux/Win)
# HackSpace Magazine
#   Hackspace Magazine regular issues
#   Hackspace Magazine books (Mac/Linux/Win)


name: Testing MagPi Regular

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  magpi-regular:
    strategy:
      matrix:
        os: [ macos, ubuntu ]
      fail-fast: false # Allows to see results from other combinations
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set OS-specific variables for Windows
        if: matrix.os == 'windows'
        run: |
          echo "OS_PATH=windows" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=ps1" >> $GITHUB_ENV
        shell: bash

      - name: Set OS-specific variables for macOS and Ubuntu
        if: matrix.os != 'windows'
        run: |
          echo "OS_PATH=linux_mac" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=sh" >> $GITHUB_ENV
        shell: bash

      - name: curl remote file output issue number
        id: read_recent
        run: |
          echo "ISSUE_NUMBER=$(curl https://raw.githubusercontent.com/joergi/MagPiDownloader/refs/heads/main/sources-for-download/regular-issues.txt)" >> $GITHUB_ENV
          echo "issue number: " $ISSUE_NUMBER
        shell: bash

      - run: |
          echo "ISSUE_MINUS_ONE=$((${{ env.ISSUE_NUMBER }}-1))" >> $GITHUB_ENV
        shell: bash

      - name: print out vars
        id: printOutVars
        shell: bash
        run: |
          echo "issue: number" ${{ env.ISSUE_NUMBER }}
          echo "issue: minus one" ${{ env.ISSUE_MINUS_ONE }}
          echo "--------------------"
          env

      - name: make folder for regular
        run: mkdir regular

      - name: Download regular with first and last
        id: regularIssuesFirstLast
        run: |
          echo "Download regular with first and last -> regular ${{ env.ISSUE_NUMBER }} MagPi_ -f 50 -l 52"
          ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://magazine.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f 50 -l 52

      - name: Download regular with end limit
        id: regularIssuesLast
        run: |
          echo "Download regular with end limit -> regular ${{ env.ISSUE_NUMBER }} MagPi_ -l 2"
          ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://magazine.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -l 2

      - name: Download regular with start
        id: regularIssuesFirst
        run: | 
          echo "Download regular with start -> regular ${{ env.ISSUE_NUMBER }} MagPi_ -f ${{ env.ISSUE_MINUS_ONE }}" 
          ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://magazine.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} MagPi_ -f ${{ env.ISSUE_MINUS_ONE }}

      - name: lslah
        run: ls -lah regular/

      - name: "Check file existence special issues"
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "regular/MagPi_1.pdf, regular/MagPi_2.pdf, regular/MagPi_50.pdf, regular/MagPi_51.pdf, regular/MagPi_52.pdf, regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf, regular/MagPi_${{ env.ISSUE_NUMBER }}.pdf"
          fail: true

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1

#      - name: "check if files are all different"
#        id: md5_files
#        shell: bash
#        run: |
#          cmp --silent regular/MagPi_1.pdf regular/MagPi_2.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
#          cmp --silent regular/MagPi_2.pdf regular/MagPi_50.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
#          cmp --silent regular/MagPi_50.pdf regular/MagPi_51.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
#          cmp --silent regular/MagPi_51.pdf regular/MagPi_52.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
#          cmp --silent regular/MagPi_52.pdf regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
#          cmp --silent regular/MagPi_${{ env.ISSUE_MINUS_ONE }}.pdf regular/MagPi_${{ env.ISSUE_NUMBER }}.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true