# this will test the downloader script for Hackspace which is called by:
# The MagPi
#   The MagPi regular issues (Mac/Linux)
#   The Magpi books / special issues (Mac/Linux/Win)
# Hello World
#   Hello World regular issues  (Mac/Linux)
#   Hello World books (Mac/Linux/Win)
# HackSpace Magazine
#   Hackspace Magazine regular issues
#   Hackspace Magazine books (Mac/Linux/Win)
# Wireframe
#   Wireframe regular issues (Mac/Linux)
#   Wireframe books (Mac/Linux/Win)


name: Testing HackSpace Regulars

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  hackspace-regular:
    strategy:
      matrix:
        os: [ macos, ubuntu ]
      fail-fast: false # Allows to see results from other combinations
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set OS-specific variables for Windows
        if: matrix.os == 'windows'
        run: |
          echo "OS_PATH=windows" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=ps1" >> $GITHUB_ENV
        shell: bash

      - name: Set OS-specific variables for macOS and Ubuntu
        if: matrix.os != 'windows'
        run: |
          echo "OS_PATH=linux_mac" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=sh" >> $GITHUB_ENV
        shell: bash

      - name: curl remote file output
        id: read_recent
        run: |
          echo "ISSUE_NUMBER=$(curl https://raw.githubusercontent.com/joergi/HackspaceMagazineDownloader/main/issues.txt)" >> $GITHUB_ENV
        shell: bash

      - run: |
          echo "ISSUE_MINUS_ONE=$((${{ env.ISSUE_NUMBER }}-1))" >> $GITHUB_ENV
        shell: bash

      - name: print out vars
        id: printOutVars
        shell: bash
        run: env

      - name: make folder for regular
        run: mkdir regular

      - name: Download regular with first and last
        id: regularIssuesFirstLast
        run: ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://hackspace.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} HS_ -f 50 -l 52

      - name: Download regular with end limit
        id: regularIssuesLast
        run: ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://hackspace.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} HS_ -l 2

      - name: Download regular with start
        id: regularIssuesFirst
        run: ./${{ env.OS_PATH }}/downloader.${{ env.OS_FILE_EXTENSION }} https://hackspace.raspberrypi.com/issues/%02d/pdf/download regular ${{ env.ISSUE_NUMBER }} HS_ -f ${{ env.ISSUE_MINUS_ONE }}

      - name: lslah
        run: ls -lah regular/
        shell: bash

      - name: "Check file existence special issues"
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "regular/HS_1.pdf, regular/HS_2.pdf, regular/HS_50.pdf, regular/HS_51.pdf, regular/HS_52.pdf, regular/HS_${{ env.ISSUE_MINUS_ONE }}.pdf, regular/HS_${{ env.ISSUE_NUMBER }}.pdf"
          fail: true

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1

      - name: "check if files are all different"
        id: md5_files
        shell: bash
        run: |
          cmp --silent regular/HS_1.pdf regular/HS_2.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true 
          cmp --silent regular/HS_2.pdf regular/HS_50.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
          cmp --silent regular/HS_50.pdf regular/HS_51.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
          cmp --silent regular/HS_51.pdf regular/HS_52.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
          cmp --silent regular/HS_52.pdf regular/HS_${{ env.ISSUE_MINUS_ONE }}.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true
          cmp --silent regular/HS_${{ env.ISSUE_MINUS_ONE }}.pdf regular/HS_{{ env.ISSUE_NUMBER }}.pdf && { echo '### ERROR: Files Are Identical! ###'; exit 1; } || true